<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/style.css">
  <title>Request Bin</title>
</head>
<body>
  <header>
    <h1>Request Bin</h1>
    <a><img src="./images/github-seeklogo.com-ai.png" alt="github logo"></a>
    <button>Create Bin</button>
  </header>
  <main>
    {{ body }}
  </main>
  <footer>
    GitHub link:
    Contributors:
    <ul> 
      <!-- Link each persons individual github -->
      <li>Anne Tiotuico</li>
      <li>Natalie Thompson</li> 
      <li>Rona Hsu</li>
      <li>Yueun Kim</li>
    </ul>
    <!-- Should we list technologies used? -->
  </footer>
</body>
</html>