* {
    padding: 0;
    margin: 0
}

h1 {
    font-size: 7em;
    padding-top: 50px;
    font-family: 'Alegreya Sans', sans-serif;
}

.github {
    width: 30px;
    height: 30px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F2DCA2;
    color: #3A2716;
    font-family: 'Alegreya', serif;
}

header, footer {
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    flex-direction: column;
}

header {
    width: 60vw;
    align-items: flex-end;
    align-self: start;
    margin-left: 30px;
}

.create {
    align-self: flex-end;
    padding: 10px 30px;
    background-color: #F2DCA2;
    border-radius: 10px;
    font-size: 1.25em;
    color: #19404F;
    margin-top: -10px;
    border: 3px dotted #19404F;
    border-bottom: solid;
    border-left: solid;
    font-family: 'Alegreya', serif;
}

.create:hover {
    color: #3A2716;
    border: 3px dotted #3A2716;
    border-bottom: solid;
    border-left: solid;
    cursor: pointer;
}

main {
    font-size: 1.5em;
    padding: 30px;
    width: 50vw;
}

main ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.basket {
    background-color: #3A2716;
    border-radius: 10px;
    padding:10px;
    color:#F2DCA2;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.basket:hover {
    background-color: #19404F;
}

.basket p:first-child {
    flex: 1;
}

.basket p:last-child {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
}

.basket span {
    font-size: .75em;
}

.no_baskets {
    text-align: center;
    padding-bottom: 30px;
}

.no_content {
    flex-direction: row;
}

.no_content li {
    border: none;
    padding-bottom: 0;
    font-size: 1em;
    text-align:center;
}

.command {
    padding: 50px;
    background-color: white;
    width: 60%;
    margin: auto;
    border-radius: 10px;
}

main li {
    background-color: #F2DCA2;
    width: 100%;
    padding: 10px;
    padding-top: 30px;
    border-radius: 10px;
    margin-top: -20px;
    z-index: -1;
    font-size: .75em;
    margin-bottom: 30px;
    color:#3A2716;
    border-bottom: 3px dotted #3A2716;
    padding-bottom:25px;
}

main li:last-child {
    border-bottom: none;
}

.body {
    overflow-wrap: break-word;
}

footer {
    border-top: 3px dotted #19404F;
    font-size: 1.25em;
}

footer p {
    display: flex;
    align-items: center;
}

p span {
    margin: 0 10px;
}